#cloud-config https://cloudinit.readthedocs.io
groups:
 - ORG_NAME

users:
  - default
  - name: ORG_NAME
    primary_group: ORG_NAME
    groups: wheel, docker
    lock_passwd: false
    shell: /bin/bash

chpasswd:
  list: |
    ORG_NAME:PASSWORD
  expire: False

ssh_pwauth: True
